body {
  padding: 50px;
  background-color: #ffffff !important;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#userform button {
	  background-color: #55acee;
}
a {
  color: #00B7FF;
}
#tweet-heatmap {
	padding: 10px 0 20px 0;
}
.cal-control {
	display: none;
}
